@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

body{
    font-family: 'Nunito', sans-serif;
    color: black;
    background-image: url("../img/tlo.png");
    font-weight: bold;

}

.formularz{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    width: 800px;
    padding: 15px 15px 15px 15px;
    margin-top:100px;    
}

.srodek{
    display: flex;
    justify-content: center;
}

.tlo{
    background-image: url('../img/tlo2.png');
    
}

fieldset{
    margin-bottom: 10px;
}

input[type="radio"]{
    margin-right: 20px;
}

.question{
    margin-top: 70px;
}

#a-2{
    text-align: right;
}



label{
    border: 1px solid black;
    width: 600px;
    display: inline-block;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    display: flex;
}

.btn{
    height: 35px;
    width: 80px;
    font-size: 14px;
    background: white;
    opacity: 80%;
    border: 1px solid black;
    border-radius: 5px;
}

.btn:hover{
    background-color: transparent;
    opacity: 100%;
    transition-duration: 0.4s;
}

.header{
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
/*
input[type="radio"]{
    visibility:hidden;
}
input[type="radio"]:checked{
    outline: 2px solid #f00;
}*/