@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
        body{
            font-family: 'Oxygen', sans-serif;
            margin: 0px 0px 0px 0px;
            color: white;
            scroll-behavior: smooth;
        }

        .main{
            margin-top: 30px;
            display: flex;
            justify-content: center;
        }

        .srodek{
            display: flex;
            justify-content: center;
        }

        #tytul{
            font-size:24px;
            margin-top: 60px;
            text-align: left;
            display: flex;
            justify-content: left;
            line-height: 1.8;
        }

        .ti-cursor{
            display: none !important;
        }

        #arrow{
            display: none;
        }