@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
        body{
            font-family: 'Oxygen', sans-serif;
            margin: 0px 0px 0px 0px;
            color: white;
            margin-bottom: 200px;
        }

        html{
            scroll-behavior: smooth;
        }